# Python

__pycache__/
*.py[cod]
*.pyo
config/__pycache__/

# Virtual environment
venv/
.venv/
env/

# Django
*.log
db.sqlite3
db.sqlite3-journal

# Local tests
shop/tests.py
shop/rest_api/tests.py

# Environment variables / secrets
.env

# Static/media files
staticfiles/
media/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
